<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
    <title>{{ title }} | {{ site.name }}</title>
    <meta charset="{{ site.charset }}">

    {{!-- Meta --}}
    {{{ imports.header.meta }}}
    {{!-- Meta End --}}

    {{!-- Link --}}
    {{{ imports.header.link }}}
    {{!-- Link End --}}

    {{!-- Script --}}
    {{{ imports.header.script }}}
    {{!-- Script End --}}
</head>

<body style="background-color: #fafbfe;">
    {{> header }}

    {{!-- Load Body --}}
    {{{ body }}}
    {{!-- Body End --}}

    {{> footer}}

    {{!-- Script --}}
    {{{ imports.footer.script }}}
    {{!-- Script End --}}
</body>

</html>