<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
    <title>{{ title }} | {{ site.name }}</title>
    <meta charset="{{ site.charset }}">

    {{!-- Meta Tags --}}
    {{{ imports.header.meta }}}
    {{!-- Meta End --}}

    {{!-- Link Tags (CSS etc.) --}}
    {{{ imports.header.link }}}
    {{!-- Link End --}}

    {{!-- Script Tags (Header Scripts) --}}
    {{{ imports.header.script }}}
    {{!-- Script End --}}
</head>

<body style="background-color: #fafbfe;">
    {{!-- Top Bar contains notifications and important information that need to be prominent. --}}
    {{> top-bar }}
    {{!-- Top Bar End --}}

    {{!-- Website secondary header for small brand logo and search bar. --}}
    {{> secondary-header }}
    {{!-- Header End --}}

    {{!-- Navigation bar contains all website important links or categories. --}}
    {{> nav-bar }}
    {{!-- Nav Bar End --}}

    {{!-- Load all body content here. --}}
    {{{ body }}}
    {{!-- Body End --}}

    {{!-- Bottom bar for containing any important notifications or permissions (Like Cookies Permission) --}}
    {{> bottom-bar }}
    {{!-- Bottom Bar End --}}

    {{!-- Website main footer --}}
    {{> secondary-footer}}
    {{!-- Footer End --}}

    {{!-- Script Tags (Footer Scripts) --}}
    {{{ imports.footer.script }}}
    {{!-- Script End --}}
</body>

</html>